/* BASIC */
*{
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(227,227,227);
}
a{
    text-decoration: none;
}
i{
    text-decoration: none;
    font-style: normal;
}
h1{
    margin: 0px;
}
/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Mosaic;
    src: url(../fonts/PaletteMosaic-Regular.ttf);
}
@font-face {
    font-family: Bangers;
    src: url(../fonts/Bangers-Regular.ttf)
}
@font-face {
    font-family: Brands;
    src: url(../fonts/awesome/Font\ Awesome\ 5\ Brands-Regular-400.otf);
}
.fab::before {
    font-family: Brands;
    font-style: normal;
    font-size: 3rem;
}

/* ICONS */

.fab.fa-facebook::before {
    content: "\f082";
    color: #4C6EF5;
}

.fab.fa-linkedin::before {
    content: "\f08c";
    color: #0A63BC;
}

.fab.fa-github::before {
    content: "\f092";
    color: #BE4BDB;
}


/* MAIN LAYOUT */
.main-layout{
    max-width: 600px;
    margin: 0 auto;
}
.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 50%);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
/* HEADER */
header{
    background-color: #ff7f00;
    justify-content: center;
    padding: 0;
    box-shadow: inset 0 -6px 0 #1e1e1e;
}
.main-nav{
    height: 100%;
}
.logo{
    height: 22px;
}
.btn-menu-toggle:hover{
    cursor: pointer;
}
.btn-menu-toggle{
    color: white;
    border: none;
    font-size: 1.875rem;
}
.navLinks{
    height: 100px;
}
.navLinks a{
    text-align: center;
    width: 130px;
    height: 130px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(0px 1px 0px #1e1e1e);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .4s, box-shadow .2s;
}

/* MAIN CONTENT */
.main-content{
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(180px, 1fr) );
  align-content: center;
  justify-content: center;
}
.img-container{
    margin: 10px;
}
.main-content img{
    max-width:100% ;
}
/* ABOUT */
.about-me{
    background-color: #fff;
    min-height: 570px;
    overflow:hidden;
}
.info{
    flex-direction: column;
    padding: 10px;
}
.rounded-circle{
    height: 260px;
    border-radius:50%;
    object-fit: contain;
}
.about-text h1{
    font-size: 4rem;
}
.about-text{
    height: 80%;
    margin-left:20px ;
    padding: 0;
    font-size: 1.5rem;
    align-items: center;
}
.social-links{
    gap: 10px;
}
img:hover{
    cursor: pointer;
}
footer{
    background-color: #ff7f00;
    justify-content: center;
    height: 100px;
    gap:10px;
}
/* MEME */
.meme-generator{
    flex-direction: column;
    align-items: center;
}
.canvas-container{
    width:100%;
    max-width: 500px;
}
.tools{
    padding: 10px;
    display: grid;
    align-content: space-between;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.btn{
    max-width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    background-repeat: no-repeat;
    background-size: 70% ;
    background-position: center;
    box-shadow: -1px 1px 10px 2px black;
    transition: box-shadow 1s;
}
.btn:not(.selected):hover{
    cursor: pointer;
    box-shadow: none;
}
.txtLine{
    grid-column: 1/6;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    text-align: center;
    font-size:1.875rem;
    font-weight: bolder;
}
.txtPosDown{
    grid-column: 1;
    grid-row: 2;
    background-image: url('img/ICONS/aroow.png');
}
canvas{
    background-color: #fff;
}
.txtPosUp{
    grid-column: 2;
    grid-row: 2;
    background-image: url('img/ICONS/downArrow.png');
}
.switchLine{
    grid-column: 3;
    grid-row: 2;
    background-image: url('img/ICONS/up-and-down-opposite-double-arrows-side-by-side.png');
}
.addLine{
    grid-column: 4;
    background-image: url('img/ICONS/add.png');
}
.delete{
    grid-column: 5;
    grid-row: 2;
    background-image: url('img/ICONS/trash.png');
}
.fontSizePlus{
    background-image: url("img/ICONS/increase\ font\ -\ icon.png");
    grid-column: 1;
    grid-row: 3;
}
.fontSizeMinus{
    background-image: url("img/ICONS/decrease\ font\ -\ icon.png");
    grid-column: 2;
    grid-row: 3;
}
.txtAlignLeft{
    grid-column: 3;
    grid-row: 3;
    background-image: url("img/ICONS/align-to-left.png");
}
.txtAlignCenter{
    grid-column: 4;
    grid-row: 3;
    background-image: url("img/ICONS/center-text-alignment.png");
}
.txtAlignRight{
    grid-column: 5;
    grid-row: 3;
    background-image: url("img/ICONS/align-to-right.png");
}
.fonts{
    grid-column: 1/4;
    grid-row: 4;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    text-align: center;
    font-size:1.875rem;
}
input[type="color" i]{
    width:100%;
    height: 100%;
    opacity: 0;
}
.stroke-container{
    background-image: url("img/ICONS/textstroke.png");
}
.fill-container{
    background-image: url("img/ICONS/paint-board-and-brush.png");
}
.b-btn:hover{
    cursor: pointer;
    box-shadow: none;
}
.b-btn{
    background-color:#ff9800 ;
    color: #fff;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -1px 1px 10px 2px black;
    border: none;
    transition: box-shadow 1s;
}
.to-home{
    background-image: url("img/ICONS/home.png");
    background-repeat: no-repeat;
    background-size: 70% ;
    background-position: center;
}
.download-link{
    grid-column: 2/4;
}
.selected{
    box-shadow: 0 0 5px 5px #ff9800;
}
.share-modal{
    display: none;
    position: absolute;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(227,227,227);
    width:300px;
    height: 200px;
    box-shadow:1px 1px 13px 8px black;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
body.modal .share-modal{
    display: flex;
}
body.modal .screen{
    pointer-events: auto;
    opacity: 1;
}
.share-btns{
    width: 70%;
}
.c-btn{
    width:85px;
    align-items: center;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 5px 1px black;
}
.c-btn .fab::before{
    font-size: 2rem;
}
/* MY GALLERY */
.my-gallery{
    text-align: center;
}
.my-gallery span:hover{
    text-shadow: 1px 1px 1px #0A63BC;
    cursor: pointer;
}
.my-gallery span{
    color:#ff9800;
}
.myBtn:hover{
    cursor: pointer;
    box-shadow: none;
}
.myBtn{
    width: 100%;
    transition: box-shadow 1s;
    height: 40px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 5px 1px black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.delImg{
    background-image: url('img/ICONS/trash.png');
}
.edit{
    background-image: url('img/ICONS/edit.png');
}
/* SMALL */
@media (max-width: 620px) {
    .main-layout{
        margin-left: 10px;
        margin-right: 10px;
    }
    .b-btn{
        background-color:#ff9800 ;
        color: #fff;
        display: flex;
        font-family: Montserrat, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: -1px 1px 10px 2px black;
        border: none;
        transition: box-shadow 1s;
    }
}
@media (max-width: 800px) {
    .navLinks{
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        min-width: 40vw;
        background-color: #29292967;
        height: 100vh;
        box-shadow: 0px 0px 0px black;
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .navLinks {
        transform: translateX(0);
        box-shadow: -8px 0px 12px black;
    }
    .navLinks li{
        width: 100%;
    }
    .navLinks a{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7;
    }
    header{
        position: sticky;
        top: 0;
        height: 60px;
    }
    body.menu-open .screen {
        opacity: 1;
        pointer-events: auto;
    }
}
/* MEDIUM */
@media (min-width: 800px) {
    .btn-menu-toggle {
        display: none;
    }
}
/* LARGE */
@media (min-width: 1000px) {
    /* .canvas-container{
        max-width: 500px;
        max-height:500px;
    } */
    .tools{
        width: 50%;
    }
    .main-layout{
        max-width: 1000px;
    }
    .info{
        flex-direction: row;
    }
    .about-text{
        align-items: flex-start;
    }
    .meme-generator{
        flex-direction: row;
    }
}

/* HELPERS */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content:center;
}
.center{
    align-items: center;
}
.clean-list{
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0px;   
}